mixin event(index, name, start, end, dressCode, color, visible)
  - var display = visible ? "grid" : "none";
  .event(
    style="border-left: 3px " + color + " solid;display:" + display
    index=`${index}`
  )
    span.event-detail.name= name
    span.event-detail.dress-code= dressCode
    .event-detail.duration
      span.event-detail.start= `${start.time} - ${end.time}`
.cal-widget
  if empty
    span= msg
  else if events
    - var i = 0;
    - const dc = { casual: "#d49ae0", "semi-formal": "#9ae0d4", formal: "#9aa6e0" };
    each event in events
      if i < 1
        +event(event.index, event.name, event.start, event.end, event.dressCode, dc[event.dressCode], true)
      else
        +event(event.index, event.name, event.start, event.end, event.dressCode, dc[event.dressCode], false)
      - i = 1;
    .controls
      div 
        button(role='button' name='prev' dest='0') <
      div
        button(role='button' name='next' dest='1') >
  else if err
    span.error Error: Calendar Unavailable
  else
    span Loading...
script(src='/scripts/calendar_widget.js') 
