mixin article(articlePath, imgPath, name, desc)
  .article.card(role='button' tabindex='0')
    .cardimg
      img(src=imgPath alt='A preview image of the article')
    .cardtext
      .name= name
      .desc= desc
    input(type='hidden' value=articlePath)
if articles
  if articles.length === 0
    .empty-msg
      p No articles to show. 
      p Add one #[a(href="/" + username + "/closet/article/new") here]
  else
    each item in articles
      +article(`/article?id=${item.articleId}`, '/user_img/liam/' + item.dataValues.filepath, item.dataValues.name, item.dataValues.desc)
