mixin favorite-btn(active, baseId, partnerId)
  button.favorite.img-btn.action(
    title='Set as favorite'
    favorite=active
    value=baseId + "," + partnerId
  )
mixin dirty-btn(active, id)
  button.dirty.img-btn(
    title='Set as dirty'
    dirty=active
    value=id
  ) &times;
mixin outfit(base, partner, fav=false)
  .card
    if base
      .cardimg
        a(href="closet/article?id=" + base.dataValues.articleId)
          img(
            src="/user_img/liam/" + base.dataValues.filepath
            alt=`Preview image of article \'${base.dataValues.name}\'`
          )
      if partner
        .cardimg
          a(href="closet/article?id=" + partner.dataValues.articleId)
            img(
              src="/user_img/liam/" + partner.dataValues.filepath
              alt=`Preview image of article \'${partner.dataValues.name}\'`
            )
      .cardtext
        .desc
          if base.dataValues.name
            .name 
              span= base.dataValues.name
              +dirty-btn(base.dataValues.dirty, base.dataValues.articleId)
          if partner && partner.dataValues.name
            .name
              span= partner.dataValues.name
              +dirty-btn(partner.dataValues.dirty, partner.dataValues.articleId)
        .detail-icons
          if base && partner
            #color.detailEntry
              .colorSwatch(
                style="background-image: linear-gradient(#" + base.dataValues.color.toString(16).padStart(6, "0") + " 50%,#" + partner.dataValues.color.toString(16).padStart(6, "0") + " 50%);"
              )
            .detailEntry
              if base.dataValues.dressCodeId == '1' || partner.dataValues.dressCodeId == '1'
                img(
                  src='/icons/desc/casual.png'
                  title='Casual'
                  alt='Casual Icon'
                )
              else if base.dataValues.dressCodeId == '2' || partner.dataValues.dressCodeId == '2'
                img(
                  src='/icons/desc/semi-formal.png'
                  title='Semi-Formal'
                  alt='Semi-Formal Icon'
                )
              else
                img(
                  src='/icons/desc/formal.png'
                  title='Formal'
                  alt='Formal Icon'
                )

          else if base
            #color.detailEntry
              .colorSwatch(
                style="background-color: #" + base.dataValues.color.toString(16).padStart(6, "0")
              )
            .detailEntry
              if base.dataValues.dressCodeId == '1'
                img(
                  src='/icons/desc/casual.png'
                  title='Casual'
                  alt='Casual Icon'
                )
              else if base.dataValues.dressCodeId == '2'
                img(
                  src='/icons/desc/semi-formal.png'
                  title='Semi-Formal'
                  alt='Semi-Formal Icon'
                )
              else
                img(
                  src='/icons/desc/formal.png'
                  title='Formal'
                  alt='Formal Icon'
                )

      if base && partner
        +favorite-btn(fav, base.dataValues.articleId, partner.dataValues.articleId)
      else
        +favorite-btn(fav, base.dataValues.articleId, base.dataValues.articleId)
    else
      .cardimg
      .cardtext
        .detail-icons
        .desc
          p Not enough clothing to recommend!
          p Visit #[a(href="/" + username + "/closet") Closet] to add more items

if outfits
  each outfit in outfits
    .outfit
      if outfit.base != -1 && outfit.partner != -1
        if outfit.base.dataValues.articleId === outfit.partner.dataValues.articleId
          +outfit(outfit.base, null, outfit.favorite)
        else
          +outfit(outfit.base, outfit.partner, outfit.favorite)
      else
        if outfit.base == -1
          +outfit(null, null)
        else
          +outfit(outfit.base, null)
