mixin favorite-btn(active, baseId, partnerId)
  button.favorite.img-btn.action(
    title='Set as favorite'
    favorite=active
    value=baseId + "," + partnerId
  )
mixin dirty-btn(active, id)
  button.dirty.img-btn(title='Set as dirty' dirty=active value=id) &times;
mixin outfit(base, partner, fav=false)
  .card
    if base
      .cardimg
        a(href="closet/article?id=" + base.dataValues.articleId)
          img(
            src="/user_img/liam/" + base.dataValues.filepath
            alt=`Preview image of article \'${base.dataValues.name}\'`
          )
      if partner
        .cardimg
          a(href="closet/article?id=" + partner.dataValues.articleId)
            img(
              src="/user_img/liam/" + partner.dataValues.filepath
              alt=`Preview image of article \'${partner.dataValues.name}\'`
            )
      .cardtext
        .desc
          if base.dataValues.name
            .name 
              span= base.dataValues.name
              +dirty-btn(base.dataValues.dirty, base.dataValues.articleId)
          if partner && partner.dataValues.name
            .name
              span= partner.dataValues.name
              +dirty-btn(partner.dataValues.dirty, partner.dataValues.articleId)
        .detail-icons
          if base && partner
            #color.detailEntry
              .colorSwatch(
                style="background-image: linear-gradient(#" + base.dataValues.color.toString(16).padStart(6, "0") + " 50%,#" + partner.dataValues.color.toString(16).padStart(6, "0") + " 50%);"
              )
            .detailEntry
              if base.dataValues.dressCodeId == '1' || partner.dataValues.dressCodeId == '1'
                //- img(
                //-   src='/icons/desc/casual.png'
                //-   title='Casual'
                //-   alt='Casual Icon'
                //- )
                p &#x1F576
              else if base.dataValues.dressCodeId == '2' || partner.dataValues.dressCodeId == '2'
                img(
                  src='/icons/desc/semi-formal.png'
                  title='Semi-Formal'
                  alt='Semi-Formal Icon'
                )
              else
                img(
                  src='/icons/desc/formal.png'
                  title='Formal'
                  alt='Formal Icon'
                )
            .detailEntry
              - var temp = Math.floor((base.dataValues.tempMin + base.dataValues.tempMax + partner.dataValues.tempMin + partner.dataValues.tempMax) / 4);
                p.avg-temp #{temp}&#176;F

          else if base
            #color.detailEntry
              .colorSwatch(
                style="background-color: #" + base.dataValues.color.toString(16).padStart(6, "0")
              )
            .detailEntry
              if base.dataValues.dressCodeId == '1'
                //- img(
                //-   src='/icons/desc/casual.png'
                //-   title='Casual'
                //-   alt='Casual Icon'
                //- )
                p &#x1F576
              else if base.dataValues.dressCodeId == '2'
                img(
                  src='/icons/desc/semi-formal.png'
                  title='Semi-Formal'
                  alt='Semi-Formal Icon'
                )
              else
                img(
                  src='/icons/desc/formal.png'
                  title='Formal'
                  alt='Formal Icon'
                )
            .detailEntry
              - var temp = Math.floor((base.dataValues.tempMin + base.dataValues.tempMax) / 2);
              p.avg-temp #{temp}&#176;F

      if base && partner
        +favorite-btn(fav, base.dataValues.articleId, partner.dataValues.articleId)
      else
        +favorite-btn(fav, base.dataValues.articleId, base.dataValues.articleId)
    else
      .empty-outfit
        p Not enough clothing to recommend!
        p Visit #[a(href="/" + username + "/closet") Closet] to add more items

if outfits
  if !empty
    each outfit in outfits
      .outfit
        if outfit.base != -1 && outfit.partner != -1
          if outfit.base.dataValues.articleId === outfit.partner.dataValues.articleId
            +outfit(outfit.base, null, outfit.favorite)
          else
            +outfit(outfit.base, outfit.partner, outfit.favorite)
        else
          if outfit.base == -1
            +outfit(null, null)
          else
            +outfit(outfit.base, null)
  else
    .card.empty-recs 
      p Not enough clothing to recommend!
      p Add or edit items #[a(href="/" + username + "/closet") here]
