form#articleForm(action=action method='post' enctype='multipart/form-data')
  label(for='name') Name
  if article
    input#name(
      type='text'
      name='name'
      placeholder='Name'
      required
      value=article.name
      autofocus
    )
  else
    input#name(type='text' name='name' placeholder='Name' required autofocus)

  label(for='desc') Description
  if article
    textarea#desc(type='text' name='desc' placeholder='Description' rows='6')= article.desc
  else
    textarea#desc(type='text' name='desc' placeholder='Description' rows='6')

  label(for='color') Color
  if article
    input#color(type='color' name='color' value="#" + article.color) 
  else
    input#color(type='color' name='color' value='#a6e09a')

  label(for='image') Upload Image
  if article
    input(type='file' name='image')
    input(type='hidden' value=article.filepath name='previousFile')
  else
    input(type='file' name='image')

  - const types = [["top", "top"], ["bottom", "btm"], ["one piece", "single"]];
  label(for='type') Type
  select#type(name='type')
    each gType in types
      if article
        if article.garmentType === gType
          option(value=gType[1] selected)= gType[0]
        else
          option(value=gType[1])= gType[0]
      else
        option(value=gType[1])= gType[0]

  - const dressCodes = ["casual", "semi-formal", "formal"];
  label(for='dressCode') Dress Code
  select#dressCode(name='dressCode')
    each dressCode in dressCodes
      if article
        if article.dressCode === dressCode
          option(value=dressCode selected)= dressCode
        else
          option(value=dressCode)= dressCode
      else
        option(value=dressCode)= dressCode

  label(for='dirty') Dirty
  div
    if article
      if article.dirty
        input#dirty(type='checkbox' name='dirty' value='dirty' checked)
      else
        input#dirty(type='checkbox' name='dirty' value='dirty')
    else
      input#dirty(type='checkbox' name='dirty' value='dirty')

  label(for='tempMin') Minimum Temp. (ºF)
  .slider
    if article
      input#tempMin(
        type='range'
        name='tempMin'
        min='-25'
        max='125'
        value=article.tempMin
      )
    else
      input#tempMin(type='range' name='tempMin' min='-25' max='125' value='75')
    span#minval
  label(for='tempMax') Maximum Temp. (ºF)
  .slider 
    if article
      input#tempMax(
        type='range'
        name='tempMax'
        min='-25'
        max='125'
        value=article.tempMax
      )
    else
      input#tempMax(type='range' name='tempMax' min='-25' max='125' value='75')
    span#maxval 75

  p.tempAlert Minimum Temperature is greater than Maximum Temperature

  if article
    a(
      role='button'
      href="/" + username + "/closet/article?id=" + article.articleId
    ) Cancel
  else
    a(role='button' href="/" + username + "/closet") Cancel

  input(type='submit' value=submitVal)

  script(src='/scripts/article_form_page.js' type='text/javascript')
