mixin item(articleId, group, imgPath, name, desc)
  .article.card
    .cardimg
      img(src=imgPath alt='A preview image of the article')
    .cardtext
      .name= name
      .desc= desc
    input.action(type='radio' name=group value=articleId required)
mixin cardDisplay(title, active, group, items)
  fieldset(disabled=active)
    legend= title
    each item in items
      +item(item.dataValues.articleId, group, '/user_img/liam/' + item.dataValues.filepath, item.dataValues.name, item.dataValues.desc)
.staticContainer 
  a(href="/" + username + "/closet?outfits=true") Cancel
  input(type='submit' value='Create Outfit')
.cardContainers
  .topbtm
    if tops
      +cardDisplay('Tops', false, 'top', tops)
    if bottoms
      +cardDisplay('Bottoms', false, 'bottom', bottoms)
  .single
    if singles
      +cardDisplay('Singles', 'disabled', 'single', singles)
