mixin favorite-btn(active, baseId, partnerId)
  button.favorite.img-btn.action(
    title='Set as favorite'
    favorite=active
    type='checkbox'
    value=baseId + "," + partnerId
  )
mixin outfit(base, partner, fav=false)
  .card
    if base
      .cardimg
        a(href="closet/article?id=" + base.dataValues.articleId)
          img(
            src="/user_img/liam/" + base.dataValues.filepath
            alt=`Preview image of article \'${base.dataValues.name}\'`
          )
      if partner
        .cardimg
          a(href="closet/article?id=" + partner.dataValues.articleId)
            img(
              src="/user_img/liam/" + partner.dataValues.filepath
              alt=`Preview image of article \'${partner.dataValues.name}\'`
            )
      .cardtext
        .detail-icons
        .desc
          if base.dataValues.name
            p= base.dataValues.name
          if partner && partner.dataValues.name
            p= partner.dataValues.name
      if base && partner
        +favorite-btn(fav, base.dataValues.articleId, partner.dataValues.articleId)
      else
        +favorite-btn(fav, base.dataValues.articleId, base.dataValues.articleId)
    else
      .cardimg
      .cardtext
        .detail-icons
        .desc
          p Not enough clothing to recommend!
          p Visit #[a(href="/" + username + "/closet") Closet] to add more items

if outfits
  each outfit in outfits
    .outfit
      if outfit.base != -1 && outfit.partner != -1
        if outfit.base.dataValues.articleId === outfit.partner.dataValues.articleId
          +outfit(outfit.base, null, outfit.favorite)
        else
          +outfit(outfit.base, outfit.partner, outfit.favorite)
      else
        if outfit.base == -1
          +outfit(null, null)
        else
          +outfit(outfit.base, null)
