extends layout

block content
  include includes/internal-nav
  .message
    if success
      p.success= success.msg
    else if error
      p.error Error: #{error.msg}
  main(role='main')
    if article
      section.item-card
        .item-image
          img(
            src="/user_img/liam/" + article.filepath
            alt='default image of the article'
          )
        .item-details
          span.screen-reader Item details
          header
            h1.name #{article.name}
          p.desc #{article.desc}
          .fineDetails
            #color.detailEntry
              unless article.color == 'multiple'
                .colorSwatch(style="background-color: #" + article.color)
              else
                .colorSwatch.multiSwatch
              p= "#" + article.color.toUpperCase()
            .detailEntry
              if article.dirty
                p &#x1F92E
                p DIRTY
              else
                p &#x1F9FC
                p CLEAN
            .detailEntry
              if article.garmentType == 'top'
                p &#x1F455
              else if article.garmentType == 'bottom'
                p &#x1F456
              else
                p &#x0031&#xFE0F&#x20E3
              p= article.garmentType.toUpperCase()
            .detailEntry
              if article.dressCode == 'casual'
                p &#x1F576
              else if article.dressCode == 'semi-formal'
                p &#x1F454
              else
                p &#x1F48E
              p= article.dressCode.toUpperCase()
            p Temperature
            ul
              li Minimum : #{article.tempMin}
              li Maximum : #{article.tempMax}
          .options
            a(role='button' href="article/edit?id=" + article.articleId) Edit
            a#deleteBtn(role='button' href='#') Delete

  if article
    .dialog
      .dialogContent
        .header
          h3 Delete Article : #{article.name}
          button.close(type='button') &times;
        .msg
          p Are you sure you want to delete '#{article.name}'?
        form.dialogForm(
          action="article/delete?id=" + article.articleId
          method='post'
        )
          button.confirm(type='submit') Delete
          button.cancel(type='button') Cancel

  script(src='/scripts/article_page.js' type='text/javascript')
