extends layout

block content
  include includes/internal-nav
  .message
    if success
      if success.create
        p.success New article created successfully
      else if success.edit
        p.success Article updated successfully
    else if error.edit
      p.error Error: Article update failed
  main
    if article
      section.item-card
        .item-image
          img(src='/user_img/liam/'+article.filepath)
        .item-details
          header
            h1(class='name') #{article.name}
          p(class='desc') #{article.desc}
          div Details :
            ul
              li #{article.color}
              if article.dirty
                li dirty
              else
                li clean
              li #{article.garmentType}
              li #{article.dressCode}
              li Min. temp. : #{article.tempMin}
              li Max. temp. : #{article.tempMax}
          .options
            a(role='button' href='article/edit?id='+article.articleId) Edit
            a(id='deleteBtn' role='button' href='#') Delete
    else
      .error
        p Error: Article data unavailable. Please try again later.
        
  if article
    .dialog
      .dialogContent
        .header
          h3 Delete Article : #{article.name}
          button(class='close' type='button') &times;
        .msg
          p Are you sure you want to delete '#{article.name}?
        form(class='dialogForm' action='article/delete?id='+article.articleId method='post')
          button(class='confirm' type='submit') Delete
          button(class='cancel' type='button') Cancel

  script(src='/scripts/article_page.js', type='text/javascript')
        