extends layout

block content
  include includes/internal-nav
  main(role='main')
    #menu
      span#menu-navi
        button.btn.btn-default.btn-sm.move-today(
          type='button'
          data-action='move-today'
        ) Today
        button.btn.btn-default.btn-sm.move-day(
          type='button'
          data-action='move-prev'
        ) Previous
        button.btn.btn-default.btn-sm.move-day(
          type='button'
          data-action='move-next'
        ) Next
      span#renderRange.calendar-render-range
    #calendar
    .dialog(name='createPopup')
      .content
        h2 New Event
        label(for='name') Name
        input#name(name='name' type='text')
        label(for='desc') Description
        input#desc(name='desc' type='text')
        label(for='start') Start Date
        input#start(name='start' type='date')
        label(for='startTime') Start Time
        input#startTime(name='startTime' type='time')
        label(for='end') End Date
        input#end(name='end' type='date')
        label(for='endTime') End Time
        input#endTime(name='endTime' type='time')
        label(for='dressCode') Dress Code
        select#dressCode(name='dressCode')
          option(value='1' selected) Casual
          option(value='2') Semi-Formal
          option(value='3') Formal

        button#calendarSave(type='button') Save
        button#createCancel(type='button') Cancel

    .dialog(name='detailsPopup')
      .content
        h2 Event Details
        button#detailClose(type='button') &times;
        label(for='nameDetails') Name
        input#nameDetails(name='nameDetails' type='text')
        label(for='descDetails') Description
        input#descDetails(name='descDetails' type='text')
        label(for='startDetails') Start Date
        input#startDetails(name='startDetails' type='date')
        label(for='startTimeDetails') Start Time
        input#startTimeDetails(name='startTimeDetails' type='time')
        label(for='endDetails') End Date
        input#endDetails(name='endDetails' type='date')
        label(for='endTimeDetails') End Time
        input#endTimeDetails(name='endTimeDetails' type='time')
        label(for='dressCodeDetails') Dress Code
        select#dressCodeDetails(name='dressCodeDetails')
          option(value='1') Casual
          option(value='2') Semi-Formal
          option(value='3') Formal
      

  script(
    src='https://code.jquery.com/jquery-3.2.1.slim.min.js'
    integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN'
    crossorigin='anonymous'
  )
  script(
    src='https://uicdn.toast.com/tui.code-snippet/v1.5.2/tui-code-snippet.min.js'
  )
  script(
    src='https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.min.js'
  )
  script(
    src='https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.min.js'
  )
  script(src='https://uicdn.toast.com/tui-calendar/latest/tui-calendar.js')
  script(
    src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js'
  )
  script(
    src='https://cdnjs.cloudflare.com/ajax/libs/chance/1.0.13/chance.min.js'
  )
  script(src='/tuiCalendar/dist/tui-calendar.js')
  script(src='/tuiCalendar/js/data/calendars.js')
  script(src='/tuiCalendar/js/data/schedules.js')

  script(src='/scripts/calendar_page.js')
  script(src='/tuiCalendar/js/default.js')
