extends layout

block content
  include includes/internal-nav
  .message
    if success
      p.success= success.msg
    else if error
      p.error Error: #{error.msg}
  aside.closetControls
    .buttons
      button#viewFilter(role='button' type='button') Filter <span class='arrow'> &darr; </span>
      .operations
        a.laundry.img-btn(role='button' href='closet/laundryDay' title="Laundry Day") #[span.screen-reader Laundry day]
        a#newArticle(href='closet/article/new') &plus; Article
        a#newOutfit(href='closet/outfits/new') &plus; Outfit
    form#filterForm.hide.filterForm(method='post')
      .color
        label(for='color') Color
        select#color(name='color')
          option(value='' selected) -- color --
          option(value='red') Red
          option(value='orange') Orange
          option(value='yellow') Yellow
          option(value='green') Green
          option(value='blue') Blue
          option(value='purple') Purple
          option(value='brown') Brown
          option(value='black') Black
          option(value='white') White
          option(value='multiple') Multiple
      .type
        label(for='type') Type
        select#type(name='type')
          option(value='' selected) -- type --
          option(value='1') Top
          option(value='2') Bottom
          option(value='3') One-Piece
      .dresscode
        label(for='dresscode') Dress Code
        select#dresscode(name='dresscode')
          option(value='' selected) -- dress code --
          option(value='1') Casual
          option(value='2') Semi-Formal
          option(value='3') Formal
      .dirty
        label(for='dirty') Clean
        select#dirty(name='dirty')
          option(value='' selected) -- all --
          option(value='f') Clean
          option(value='t') Dirty
      fieldset.temperature
        legend Temperature Range
        label(for='tempMin') Min.
        .sliderContainer
          span
          input#tempMin.slider(
            type='range'
            min='-15'
            max='120'
            value='-15'
            name='tempMin'
          )

        label(for='tempMax') Max.
        .sliderContainer
          span
          input#tempMax.slider(
            type='range'
            min='-15'
            max='120'
            value='120'
            name='tempMax'
          )
      .formControls
        input#submitFilters(type='submit' value='Filter')
        input#filterReset(type='reset' value='Reset Filters')

  main
    include includes/closet-articles
  script(src='/scripts/closet_page.js' type='text/javascript')
