extends layout

block content
  include includes/internal-nav
  .message
    if success
      if success.delete
        p.success Article deleted successfully
    else if error
      if error.create
        p.error Error: Article could not be created
      else if error.delete
        p.error Error: Article could not be deleted
  aside.closetControls
    a(href="closet/article/new") New Article
  main
    mixin article(article_path, img_path, name, desc)
      .article(role='button' tabindex='0')
        .cardimg
          img(src=img_path)
        .cardtext
          .name= name
          .desc= desc
        input(type='hidden', value=article_path)
    if articles
      each item in articles
        +article(
          `/article?id=${item.article_id}`,
          '/user_img/liam/' + item.dataValues.filepath,
          item.dataValues.name, 
          item.dataValues.desc)
    else
      .error
        p Error: Closet data unavailable. Please try again later.
    script(src='/scripts/closet_page.js', type='text/javascript')
