doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title= title

    if (pagename === 'calendar')
      link(
        rel='stylesheet'
        type='text/css'
        href='https://uicdn.toast.com/tui-calendar/latest/tui-calendar.css'
      )
      link(
        rel='stylesheet'
        href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'
      )
      link(
        rel='stylesheet'
        type='text/css'
        href='https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css'
      )
      link(
        rel='stylesheet'
        type='text/css'
        href='https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css'
      )

    link(rel='stylesheet' href='/stylesheets/style.css')

  body(class=pagename)
    block content
