extends layout

block content
  include includes/internal-nav
  main.card(role='main')
    h1 Account settings
    form#accountForm(action=action method='post')
      label(for='email') Email
      input#email(
        type='text'
        name='email'
        placeholder='email'
        required
        autofocus
      )

      label(for='password') Password
      input#password(
        type='password'
        name='password'
        placeholder='password'
        required
      )
      .controls
        //- input(type='submit' value='Save')

    form#weatherZipCode(method='post')
      label(for='zipCode') Set new zip code #[span.msg]
      .zip-entry
        input#zipCodeInput(
          type='text'
          name='zipCodeInput'
          placeholder='zip code'
          pattern='[0-9]*'
          maxlength='5'
        )
        button#locate-me.emoji-btn(type='button' title='Use Current Location') &#x1F9ED;
      .controls 
        button#submitZipCode Save
  script(src='/scripts/account_page.js')
